services:
    trubanb-accomodation-service:
        restart: always
        build:
            context: ${ACCOMODATION_SERVICE_PATH}
            dockerfile: Dockerfile
        ports:
            - "${ACCOMODATION_SERVICE_PORT}:3000"
    trubanb-frontend:
        restart: always
        build:
            context: ${FRONTEND_PATH}
            dockerfile: Dockerfile
        ports:
            - "${FRONTEND_PORT}:80"
    trubanb-notification-service:
        restart: always
        build:
            context: ${NOTIFICATION_SERVICE_PATH}
            dockerfile: Dockerfile
        ports:
            - "${NOTIFICATION_SERVICE_PORT}:3000"
    trubanb-rating-service:
        restart: always
        build:
            context: ${RATING_SERVICE_PATH}
            dockerfile: Dockerfile
        ports:
            - "${RATING_SERVICE_PORT}:3000"
    trubanb-reservation-service:
        restart: always
        build:
            context: ${RESERVATION_SERVICE_PATH}
            dockerfile: Dockerfile
        ports:
            - "${RESERVATION_SERVICE_PORT}:3000"
    trubanb-user-service:
        restart: always
        build:
            context: ${USER_SERVICE_PATH}
            dockerfile: Dockerfile
        ports:
            - "${USER_SERVICE_PORT}:3000"