{{- if .Values.kong.jwt.enabled -}}
apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: jwt-auth
  labels:
    {{- include "user-service.labels" . | nindent 4 }}
plugin: jwt
config:
  secret_is_base64: false
  claims_to_verify:
    - exp
  key_claim_name: iss
  header_names:
    - Authorization
  maximum_expiration: 86400
{{- end }}